$primary-color: rgb(220, 215, 189);
$secondary-color: rgb(235, 154, 154);
$font: Arial, Helvetica, Serif;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  background-color: black;
  color: $secondary-color;
  padding-bottom: 50px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    position: relative;
  }
  li {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    text-align: center;
  }
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font;
}

#about {

    margin-top: 20px;
    display: flex;
    flex-direction: row;

    

    img {
        border-radius: 10px;
        margin-left: 20px;
    }

    p {
        padding-top: 10px;
        padding: 0 100px 100px 100px;
        display: flex;
        align-items: center;
    }
}
#flex {
    display: flex;
    flex-direction: column;

    #article {

        margin-top: 20px;
        display: flex;
        flex-direction: row;
        
    
        img {
            border-radius: 10px;
            margin-left: 20px;
        }
    
        p {
            padding-top: 10px;
            padding: 0 50px 50px 20px;
            display: flex;
            align-items: center;
        }
    }
    #column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}




footer {
  background-color: black;
  color: $secondary-color;
}
